@font-face 
{
  font-family: "Segment7";
  src: url(fonts/Segment7Standard.otf) format('opentype');
}

body {
	background-color: white;
	text-align: center;
	font-family: "Times New Roman";
}

.otwDiv {
	width: 936px;
	height: 220px;
	border: 2px solid black;
	
	line-height: 220px;
	font-size: 20px;

	position: absolute;
	left: 182px;
	top: 0px;
}

.noDataDiv {
	width: 132px;
	height: 110px;
	border: 2px solid black;
	border-left: 0px;

	line-height: 110px;
	font-size: 20px;

	position: absolute;
	left: 1120px;
	top: 0px;
}

.offAOI {
	width: 132px;
	height: 110px;
	border: 2px solid black;
	border-left: 0px;
	border-top: 0px;

	line-height: 110px;
	font-size: 20px;

	position: absolute;
	left: 1120px;
	top: 112px;
}

.efisDiv {
	width: 144px;
	height: 86px;
	border: 2px solid black;

	line-height: 86px;
	font-size: 20px;

	position: absolute;
	left: 792px;
	top: 243px;
}

.upperEICASDiv {
	width: 246px;
	height: 235px;
	border: 2px solid black;

	line-height: 235px;
	font-size: 20px;

	position: absolute;
	left: 182px;
	top: 335px;
}

.lowerEICASDiv {
	width: 246px;
	height: 235px;
	border: 2px solid black;

	line-height: 235px;
	font-size: 20px;

	position: absolute;
	left: 182px;
	top: 576px;
}

.fmsDiv {
	width: 210px;
	height: 300px;
	border: 2px solid black;

	line-height: 300px;
	font-size: 20px;

	position: absolute;
	left: 434px;
	top: 511px;
}

.pfdDiv {
	width: 246px;
	height: 235px;

	line-height: 235px;
	font-size: 20px;

	position: absolute;
	left: 1004px;
	top: 335px;
}

.ndDiv {
	width: 246px;
	height: 235px;

	line-height: 235px;
	font-size: 20px;

	position: absolute;
	left: 752px;
	top: 335px;
}


.mcpDiv {
	width: 608px;
	height: 108px;

	position: absolute;
	left: 180px;
	top: 225px;

	background-image: url('img/mcp_back.png');
	background-size: 608px 108px;
	margin: auto;
}

.guage {
	position: absolute;
	font-family: "Segment7";
	font-size: 25px;
	color: white;
	float: left;
	text-align: right;
	width: 100px;
}

#diseng_switch {
	position: absolute;
	background-image: url('img/diseng_bar.png');
	width: 70px;
	height: 20px;
	background-size: 70px 20px;
	position: absolute;
	left: 488px;
	top: 80px;
}

#diseng_switch.on {
	top: 90px;
}

#mcp_ias_mach_ds {
	left: 32px; 
	top: 16px;
	font-size: 13px;
}

#mcp_hdg_ds {
	left: 131px; 
	top: 17px;
	font-size: 13px;
}

#mcp_alt_ds {
	left: 257px; 
	top: 17px;
	font-size: 13px;
}


#mcp_vert_spd_ds {
	left: 363px; 
	top: 17px;
	font-size: 13px;
}


.switch {
	background-image: url('img/switch.png');
	width: 25px;
	height: 50px;
	background-size: 25px 50px;
	position: absolute;
	transform: rotate(180deg);
}

.switch.on {
	transform: rotate(0deg);
}

.small {
	background-image: url('img/switch.png');
	width: 15px;
	height: 30px;
	background-size: 15px 30px;
	position: absolute;
}

#mcp_at_arm {
	left: 9px;
	top: 8px;
}

#mcp_spd_intv {
	left: 134px;
	top: 21px;
}

#mcp_alt_intv {
	left: 352px;
	top: 22px;
}

#mcp_fd_1 {
	left: 15px;
	top: 70px;
}

#mcp_fd_2 {
	left: 580px;
	top: 69px;
}

.knob {
	background-image: url('img/indexed-knob.png');
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	position: absolute;
}

#ias_mach_knob {
	left: 99px;
	top: 49px;
}

#heading_knob {
	left: 204px;
	top: 48px;
}

#altitude_knob {
	left: 316px;
	top: 48px;
}

.button {
	background-image: url('img/button-off.png');
	width: 25px;
	height: 16px;
	background-size: 25px 16px;
	position: absolute;
}

.button.on {
	background-image: url('img/button-on.png');
}

#mcp_n1 {
	left: 49px;
	top: 88px;
}

#mcp_spd {
	left: 85px; 
	top: 88px;
}

#mcp_lvl_spd {
	left: 154px; 
	top: 88px;
}

#mcp_vnav {
	left: 155px; 
	top: 12px;
}

#mcp_hdg_sel {
	left: 201px; 
	top: 88px;
}

#mcp_lnav {
	left: 253px; 
	top: 12px;
}

#mcp_vor_loc {
	left: 253px; 
	top: 45px;
}

#mcp_apprh {
	left: 253px; 
	top: 88px;
}

#mcp_alt_hld {
	left: 313px; 
	top: 88px;
}

#mcp_vert_spd {
	left: 371px; 
	top: 88px;
}

#mcp_cmd_a {
	left: 477px;
	top: 23px;
}

#mcp_cmd_b {
	left: 542px; 
	top: 23px;
}

#mcp_cws_a {
	left: 477px; 
	top: 51px;
}

#mcp_cws_b {
	left: 542px; 
	top: 51px;
}

.wheel{
	background-image: url('img/scroll-wheel-a.png');
	width: 18px;
	height: 45px;
	background-size: 18px 45px;
	position: absolute;
}

.turnt
{
	background-image: url('img/scroll-wheel-b.png');
}

#vs_wheel
{
	left: 424px;
	top: 47px;
}

#vsd_img {
	display: none;
}
