<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="framebuild_style.css">
	<title>dataViz</title>
</head>
<body>
	<div class="otwDiv">OTW</div>
	<div class="noDataDiv">No Data</div>
	<div class="offAOIDiv">Off AoI</div>

	<div class="mcpDiv">
		<div class='guage' id='mcp_ias_mach_ds'></div>
		<div class='guage' id='mcp_hdg_ds'></div>
		<div class='guage' id='mcp_alt_ds'></div>
		<div class='guage' id='mcp_vert_spd_ds'></div>

		<div class='switch' id='mcp_at_arm'></div>
		<div class='switch' id='mcp_spd_intv'></div>
		<div class='switch' id='mcp_alt_intv'></div>

		<div class='switch small' id='mcp_fd_1'></div>
		<div class='switch small' id='mcp_fd_2'></div>

		<div class='knob' id='ias_mach_knob'></div>
    	<div class='knob' id='heading_knob'></div>
    	<div class='knob' id='altitude_knob'></div>

    	<a href='#' class='button' id='mcp_n1'></a>
	    <a href='#' class='button' id='mcp_spd'></a>
	    <a href='#' class='button' id='mcp_lvl_spd'></a>
	    <a href='#' class='button' id='mcp_vnav'></a>
	    <a href='#' class='button' id='mcp_lnav'></a>
	    <a href='#' class='button' id='mcp_vor_loc'></a>
	    <a href='#' class='button' id='mcp_apprh'></a>
	    <a href='#' class='button' id='mcp_hdg_sel'></a>
	    <a href='#' class='button' id='mcp_alt_hld'></a>
	    <a href='#' class='button' id='mcp_vert_spd'></a>

	    <a href='#' class='button' id='mcp_cmd_a'></a>
    	<a href='#' class='button' id='mcp_cmd_b'></a>
	    <a href='#' class='button' id='mcp_cws_a'></a>
	    <a href='#' class='button' id='mcp_cws_b'></a>

		<a class='wheel' id='vs_wheel'></a>

		<a href='#' class='on' id='diseng_switch'></a>
	</div>
	<div class="efisDiv">EFIS</div>

	<div class="upperEICASDiv">Upper EICAS</div>
	<div class="lowerEICASDiv">Lower EICAS</div>

	<div class="fmsDiv">FMS</div>

	<div class="ndDiv">
		<canvas id="ndCanvas" width="400" height="400"></canvas>
		<img src="img/vsd.png" id="vsd_img">
	</div>
	<div class="pfdDiv">
		<canvas id="pfdCanvas" width="400" height="400"></canvas>
	</div>

	<div class="miscDiv">
		<canvas id="miscCanvas" width="160" height="605"></canvas>
	</div>

	<div class="controlPanel">
		<img src="img/play.png" id="play">
		<img src="img/pause.png" id="pause">
		<img src="img/stop.png" id="stop">
		<img src="img/faster.png" id="faster">
		<img src="img/slower.png" id="slower">

		<div class="slidecontainer">
			<p id="time">Elapsed Time: 00:00</p>
  			<p id="frame">Frame Count: 1</p>
  			<input type="range" min="1" max="100" value="1" class="slider" id="slider">
		</div>
	</div>
</body>
</html>

<script src="js/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
	var raw_string = <%- JSON.stringify(simList) %>;
	var raw_memory = JSON.parse(raw_string);
	document.getElementById("slider").max = raw_memory.length;

	var raw_eyetracking_string = <%- JSON.stringify(eyeList) %>;
	var raw_eyetracking = JSON.parse(raw_eyetracking_string);
</script>

<!-- //MCP JS Files -->
<script src="js/mcp_panel.js"></script>
<script src="js/mcp_components.js"></script>
<script src="js/mcp_sim.js"></script>

<!-- Misc Sim JS Files -->
<script src="js/misc_sim.js"></script>

<!-- ND JS File -->
<script src="js/nd_sim.js"></script>

<!-- PFD JS Files -->
<script src="js/elements.js"></script>
<script src="js/pfd_sim.js"></script>
<script src="js/mod_bar.js"></script>
<script src="js/airspeed_indicator.js"></script>
<script src="js/altimeter_indicator.js"></script>
<script src="js/attitude_indicator.js"></script>
<script src="js/heading_indicator.js"></script>
<script src="js/ils_probe.js"></script>

<script src="js/widget_initialization.js"></script>
<script type="text/javascript">
	var data_index = 1;
	var eyetracking_index = 0;
</script>
<script src="js/data_entry.js"></script>
<script src="js/eyetracking.js"></script>
<script type="text/javascript">
	function drawAll() {
		mcpSim.panel.render();
		ndSim.draw(ndCtx, 400, 400);

		miscSim.draw(miscCtx, 160, 605);
		pfdCtx.clearRect(0, 0, 400, 400);
		pfdCtx.fillStyle = "black";
        pfdCtx.fillRect(0, 0, 400, 400);
		for(i = 0; i < guages.length; i++) {
			guages[i].update(pfdSim.memory);
			guages[i].draw();
		}
	}
	drawAll();
</script>

<script type="text/javascript">
	var runner;
	var eyetracking_runner;
	var sim_speed = 167;
	var eyetracking_speed = 16;
	var STARTING_TIME = parseInt(raw_memory[1].sec_utc);

	$("#play").click(function() {
		runner = setInterval(runSimulation, sim_speed);
		eyetracking_runner = setInterval(runEyetracking, eyetracking_speed);
		console.log("Playing simulation.");
	})

	$("#pause").click(function() {
		runner = clearInterval(runner);
		eyetracking_runner = clearInterval(eyetracking_runner);
		console.log("Paused simulation.");
	})

	$("#stop").click(function() {
		runner = clearInterval(runner);
		eyetracking_runner = clearInterval(eyetracking_runner);
		data_index = 1;
		eyetracking_index = 0;
		eyetracking_speed = 16;
		sim_speed = 167;
		console.log("Reset simulation.");

		document.getElementById("slider").value = data_index;
		document.getElementById("frame").innerHTML = "Frame Count: " + data_index;
		document.getElementById("time").innerHTML = "Elapsed Time: " + processTime(data_index);
	})

	$("#faster").click(function() {
		runner = clearInterval(runner);
		eyetracking_runner = clearInterval(eyetracking_runner);
		sim_speed *= .8;
		eyetracking_speed *= .8;
	})

	$("#slower").click(function() {
		runner = clearInterval(runner);
		sim_speed *= 1.2;
		eyetracking_speed *= 1.2;
	})

	function runSimulation() {
		data_index = parseInt(data_index) + 1; 

		document.getElementById("slider").value = data_index;
		document.getElementById("frame").innerHTML = "Frame Count: " + data_index;
		document.getElementById("time").innerHTML = "Elapsed Time: " + processTime(data_index);
		if (data_index < (raw_memory.length - 1)) {
			console.log("Simulation Frame Count: " + data_index);
			enterData();
			drawAll();
		} else {
			console.log("Finished simulation.");
			console.log("Simulation Frame Count: " + data_index);
			runner = clearInterval(runner);
			data_index = 1;
		}
	}

	function runEyetracking() {
		eyetracking_index = parseInt(eyetracking_index) + 1; 
		if (eyetracking_index < (raw_eyetracking.length - 1)) {
			console.log("Eye Tracking Frame Count: " + eyetracking_index);
			drawTracking();
		} else {
			console.log("Finished simulation.");
			console.log("Eye Tracking Frame Count: " + eyetracking_index);
			eyetracking_runner = clearInterval(eyetracking_runner);
			eyetracking_index = 0;

			resetBorders();
		}
	}

	var slider = document.getElementById("slider");
	// Update the current slider value (each time you drag the slider handle)
	slider.oninput = function() {
		console.log("Pausing simulation. Slider value is being changed.");
		runner = clearInterval(runner);
		eyetracking_runner = clearInterval(eyetracking_runner);
		eyetracking_index = (((data_index-1) * sim_speed) / 1000) / (eyetracking_speed / 1000);
	 	data_index = parseInt(slider.value);
	 	document.getElementById("frame").innerHTML = "Frame Count: " + data_index;
	 	document.getElementById("time").innerHTML = "Elapsed Time: " + processTime(data_index);
	}

	function processTime(frame) {
		if (!raw_memory[frame] || !raw_memory[frame].sec_utc) {
			return "--:--:--";
		}
		var elapsedSeconds = (raw_memory[frame].sec_utc - STARTING_TIME).toFixed(2);
		var hours = Math.floor(elapsedSeconds / 3600);
		var minutes = Math.floor(elapsedSeconds / 60) % 60; 
		var seconds = Math.floor(elapsedSeconds - minutes * 60);
		var milliseconds = elapsedSeconds.slice(-2);
		var pad = function(num, size) { return ('000' + num).slice(size * -1); }
		return pad(hours, 2) + ':' + pad(minutes, 2) + ':' + pad(seconds, 2) + ',' + pad(milliseconds, 2);
    }
</script>