<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="framebuild_style.css">
	<title>dataViz</title>
</head>
<body>
	<div class="otwDiv">OTW</div>
	<div class="noDataDiv">No Data</div>
	<div class="offAOIDiv">Off AoI</div>

	<div class="mcpDiv">
		<div class='guage' id='mcp_ias_mach_ds'></div>
		<div class='guage' id='mcp_hdg_ds'></div>
		<div class='guage' id='mcp_alt_ds'></div>
		<div class='guage' id='mcp_vert_spd_ds'></div>

		<div class='switch' id='mcp_at_arm'></div>
		<div class='switch' id='mcp_spd_intv'></div>
		<div class='switch' id='mcp_alt_intv'></div>

		<div class='switch small' id='mcp_fd_1'></div>
		<div class='switch small' id='mcp_fd_2'></div>

		<div class='knob' id='ias_mach_knob'></div>
    	<div class='knob' id='heading_knob'></div>
    	<div class='knob' id='altitude_knob'></div>

    	<a href='#' class='button' id='mcp_n1'></a>
	    <a href='#' class='button' id='mcp_spd'></a>
	    <a href='#' class='button' id='mcp_lvl_spd'></a>
	    <a href='#' class='button' id='mcp_vnav'></a>
	    <a href='#' class='button' id='mcp_lnav'></a>
	    <a href='#' class='button' id='mcp_vor_loc'></a>
	    <a href='#' class='button' id='mcp_apprh'></a>
	    <a href='#' class='button' id='mcp_hdg_sel'></a>
	    <a href='#' class='button' id='mcp_alt_hld'></a>
	    <a href='#' class='button' id='mcp_vert_spd'></a>

	    <a href='#' class='button' id='mcp_cmd_a'></a>
    	<a href='#' class='button' id='mcp_cmd_b'></a>
	    <a href='#' class='button' id='mcp_cws_a'></a>
	    <a href='#' class='button' id='mcp_cws_b'></a>

		<a class='wheel' id='vs_wheel'></a>

		<a href='#' class='on' id='diseng_switch'></a>
	</div>
	<div class="efisDiv">EFIS</div>

	<div class="upperEICASDiv">Upper EICAS</div>
	<div class="lowerEICASDiv">Lower EICAS</div>

	<div class="fmsDiv">FMS</div>

	<div class="ndDiv">
		<canvas id="ndCanvas" width="400" height="400"></canvas>
		<img src="img/vsd.png" id="vsd_img">
	</div>
	<div class="pfdDiv">
		<canvas id="pfdCanvas" width="400" height="400"></canvas>
	</div>

	<div class="controlPanel">
		<img src="img/play.png" id="play">
		<img src="img/pause.png" id="pause">
		<img src="img/stop.png" id="stop">
		<img src="img/faster.png" id="faster">
		<img src="img/slower.png" id="slower">

		<div class="slidecontainer">
			<p id="time">Frame Count: 1</p>
  			<input type="range" min="1" max="100" value="1" class="slider" id="slider">
		</div>
	</div>
</body>
</html>

<script src="js/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
	var raw_string = <%- JSON.stringify(list) %>;
	var raw_memory = JSON.parse(raw_string);
	document.getElementById("slider").max = raw_memory.length;
</script>

<script src="js/mcp_panel.js"></script>
<script src="js/mcp_components.js"></script>
<script src="js/mcp_sim.js"></script>

<script src="js/nd_sim.js"></script>

<script src="js/elements.js"></script>
<script src="js/pfd_sim.js"></script>
<script src="js/mod_bar.js"></script>
<script src="js/airspeed_indicator.js"></script>
<script src="js/altimeter_indicator.js"></script>
<script src="js/attitude_indicator.js"></script>
<script src="js/heading_indicator.js"></script>
<script src="js/ils_probe.js"></script>

<script src="js/widget_initialization.js"></script>
<script type="text/javascript">
	var data_index = 1;
</script>
<script src="js/data_entry.js"></script>
<script type="text/javascript">
	function drawAll() {
		mcpSim.panel.render();
		ndSim.draw(ndCtx, 400, 400);

		pfdCtx.clearRect(0, 0, 400, 400);
		pfdCtx.fillStyle = "black";
        pfdCtx.fillRect(0, 0, 400, 400);
		for(i = 0; i < guages.length; i++) {
			guages[i].update(pfdSim.memory);
			guages[i].draw();
		}
	}
	drawAll();
</script>

<script type="text/javascript">
	var runner;
	var speed = 164;

	$("#play").click(function() {
		runner = setInterval(runSimulation, speed);
		console.log("Playing simulation.");
	})

	$("#pause").click(function() {
		runner = clearInterval(runner);
		console.log("Paused simulation.");
	})

	$("#stop").click(function() {
		runner = clearInterval(runner);
		data_index = 1;
		speed = 164;
		console.log("Reset simulation.");

		document.getElementById("slider").value = data_index;
		document.getElementById("time").innerHTML = "Frame Count: " + data_index;
	})

	$("#faster").click(function() {
		runner = clearInterval(runner);
		speed *= .8;
	})

	$("#slower").click(function() {
		runner = clearInterval(runner);
		speed *= 1.2;
	})

	function runSimulation() {
		data_index = parseInt(data_index) + 1; 

		document.getElementById("slider").value = data_index;
		document.getElementById("time").innerHTML = "Frame Count: " + data_index;
		if (data_index < (raw_memory.length - 1)) {
			console.log(data_index);
			enterData();
			drawAll();
		} else {
			console.log("Finished simulation.");
			console.log(data_index);
			runner = clearInterval(runner);
			data_index = 1;
		}
	}

	var slider = document.getElementById("slider");
	// Update the current slider value (each time you drag the slider handle)
	slider.oninput = function() {
		console.log("Pausing simulation. Slider value is being changed.");
		runner = clearInterval(runner);
	 	data_index = parseInt(slider.value);
	 	document.getElementById("time").innerHTML = "Frame Count: " + data_index;
	}

</script>